<div class=" mx-auto col-10">
    <div class="maqueta">
        <div class="d-flex justify-content-center">
            <img src="assets/img/logo2.png" alt="Universidad Surcolombiana" class="logo">
        </div>
        <div class="franja d-flex justify-content-center">
            <h3>Reset your password</h3>
        </div>
        <div class="cuerpo mx-auto col-10">
            <h5>
                <p>Enter your user account's verified email address and we will send you a password reset link.</p>
            </h5>
        </div>
        <div class="mx-auto col-10">
            <form [formGroup]="EmailForm" (ngSubmit)="onSubmit()">
                <small class="text-right text-danger"
                    [class.d-none]="EmailForm.controls['email'].valid || EmailForm.controls['email'].untouched">
                    email is
                    required and must be 4 digits*</small>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="email" class="form-control" formControlName="email" placeholder="Email address"
                        type="email" email>
                </div> <!-- form-group// -->
                <div class="botones mx-auto d-flex flex-row-reverse bd-highlight">
                    <div class=" bd-highlight">
                        <button class="btn2 btn "  [disabled]="EmailForm.invalid">Send Email</button>
                    </div>
                    
                </div>

            </form>
        </div>

    </div>

</div>