<div class=" mx-auto col-10">
    <div class="maqueta">
        <div class="d-flex justify-content-center">
            <img src="assets/img/logo2.png" alt="Universidad Surcolombiana" class="logo">
        </div>
        <div class="franja d-flex justify-content-center">
            <h3>Email Verification</h3>
        </div>
        <div class="cuerpo mx-auto col-10">
            <h5><p>To complete the account confirmation process, please send the verification email and confirm it.</p></h5>
        </div>
        <div class="botones mx-auto d-flex flex-row-reverse bd-highlight">
            <div class="p-2 bd-highlight">
                <button class="btn2 btn " (click)="correo()">send email</button>
            </div>
            
        </div>
    </div>
    
</div>
