<div class=" mx-auto col-10">
    <div class="maqueta">
        <div class="d-flex justify-content-center">
            <img src="assets/img/logo2.png" alt="Universidad Surcolombiana" class="logo">
        </div>
        <div class="franja d-flex justify-content-center">
            <h3>Confirmed Email</h3>
        </div>
        <div class="cuerpo d-flex justify-content-center">
            <h5><p>Your email has been verified correctly, congratulations is already part of the website.</p></h5>
        </div>
        
    </div>
    
</div>
