.maqueta {
    border-radius: 10px; 
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.39);
}
.logo {
    padding: 35px;
}
 @media (max-width: 480px) {
    .logo {
       width: 250px;
    }
}
.franja {
    background-color: #DFD4A6;
    padding: 10px;
    color: #4d626c;
}
.cuerpo {
    color: #4d626c;
    padding:30px;
    text-align: center;
}
.botones {
    padding: 20px;
}
.btn2 {
    background-color: #8F141B!important;
    color: white!important;
}