<div class=" mx-auto col-10">
    <div class="maqueta">
        <div class="d-flex justify-content-center">
            <img src="assets/img/logo2.png" alt="Universidad Surcolombiana" class="logo">
        </div>
        <div class="franja d-flex justify-content-center">
            <h3>Reset your password</h3>
        </div>
        <div class="mx-auto col-10">
            <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="cuerpo">

                <small class="text-right text-danger"
                    [class.d-none]="passwordForm.controls['password'].valid || passwordForm.controls['password'].untouched">
                    password is required and must be 5 digits*</small>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input name="password" class="form-control" formControlName="password" placeholder="Create password"
                        type="password">
                </div> <!-- form-group// -->

                <small class="text-right text-danger"
                    [class.d-none]="passwordForm.controls['password2'].valid || passwordForm.controls['password2'].untouched">
                    password-confirm is required and must be equals password</small>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input name="password2" class="form-control" formControlName="password2"
                        placeholder="Repeat password" type="password">
                </div> <!-- form-group// -->
                <div class="botones mx-auto d-flex flex-row-reverse bd-highlight">

                    <div class=" bd-highlight">
                        <button class="btn2 btn " [disabled]="passwordForm.invalid">reset password</button>
                    </div>

                </div>

            </form>
        </div>

    </div>

</div>